@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-Black.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-Black.woff') format('woff'),
  url('/fonts/SctoGroteskB-Black.svg#SctoGroteskB-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-BlackItalic.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-BlackItalic.woff') format('woff'),
  url('/fonts/SctoGroteskB-BlackItalic.svg#SctoGroteskB-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-MediumItalic.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-MediumItalic.woff') format('woff'),
  url('/fonts/SctoGroteskB-MediumItalic.svg#SctoGroteskB-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-Regular.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-Regular.woff') format('woff'),
  url('/fonts/SctoGroteskB-Regular.svg#SctoGroteskB-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-LightItalic.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-LightItalic.woff') format('woff'),
  url('/fonts/SctoGroteskB-LightItalic.svg#SctoGroteskB-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-ThinItalic.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-ThinItalic.woff') format('woff'),
  url('/fonts/SctoGroteskB-ThinItalic.svg#SctoGroteskB-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-Light.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-Light.woff') format('woff'),
  url('/fonts/SctoGroteskB-Light.svg#SctoGroteskB-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-Medium.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-Medium.woff') format('woff'),
  url('/fonts/SctoGroteskB-Medium.svg#SctoGroteskB-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-BoldItalic.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-BoldItalic.woff') format('woff'),
  url('/fonts/SctoGroteskB-BoldItalic.svg#SctoGroteskB-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-Italic.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-Italic.woff') format('woff'),
  url('/fonts/SctoGroteskB-Italic.svg#SctoGroteskB-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-Bold.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-Bold.woff') format('woff'),
  url('/fonts/SctoGroteskB-Bold.svg#SctoGroteskB-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scto Grotesk B';
  src: url('/fonts/SctoGroteskB-Thin.woff2') format('woff2'),
  url('/fonts/SctoGroteskB-Thin.woff') format('woff'),
  url('/fonts/SctoGroteskB-Thin.svg#SctoGroteskB-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
